body{
    background: black;
    color: white;
    height: 100vh;
}

main{
    display: flex;
    align-items:center;   
    justify-content: center;
    height: 80%;
    width: 100%;
}
.cotainer-mudar-senha{
    background: #D7D7D7;
    color: #6F6F6F;
    height: 420px;
    width: 390px;
    padding: 25px;
    /* text-align: center;
    align-content: center;*/
    border-radius: 10px;
    border-style: hidden;

}
.cotainer-mudar-senha h2{
    color: black;
    font-size: 1.8em;
    text-align: center;
}

.logo-cabecalho{
    height: 80px;
    padding: 20px;
}
.logo-cabecalho img{
    height: 100%;
     margin: 25px;
}

.container-input-radio{
    display: flex;
    flex-direction: column;
    margin: 4px 10px;
    padding-left: 20px;
}

.container-input-radio label{
    margin: 10px;
}

.container-input-radio input{
    
    margin-right: 7px;
    background: #D7D7D7;
    /* display: none; */
    border: 1px solid #6F6F6F;
}

input[type="radio"]{
    -webkit-appearance: none; 
    width: 12px;
    height: 12px;
    background-color:white;
    transform: scale(1.8);
    border: white solid 1.5px;
    
}

input[type="checkbox"]:checked,input[type="radio"]:checked {
    background-color: blue;
    padding: 5px;
}

input[type="radio"]{
  border-radius: 50%;
}